

.menu-title > h1 {
  position: absolute;
  font-size: 100px;
  font-family: 'Segoe UI';
  display: inline-block;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: auto;
}

.menu-title {
  display: flex;
  position: absolute;
  height: 20%;
  right: 60%;
}

.container__menu-title > hr {
  margin-top: 20px;
  opacity: 50%;
}

.menu-title_Image > img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.image_button-next {
  position: absolute;
  background-color: #00b5ff;
  width: 70px;
  height: 70px;
  font-weight: 600;
  font-size: 40px;
  transform: rotate(45deg);
  left: 73.5%;
  top: 25%;
  box-shadow: 5px 9px 0 #cc3a33, -8px 9px 0 #cc3a33, -8px -10px 0 #cc3a33;
  cursor: pointer;
}

.image_button-prev {
  position: absolute;
  background-color: #00b5ff;
  width: 70px;
  height: 70px;
  font-weight: 600;
  font-size: 40px;
  transform: rotate(45deg);
  left: 22%;
  top: 25%;
  box-shadow: 7px 5px 0 #cc3a33, 7px -8px 0 #cc3a33,  -10px -8px 0 #cc3a33;
  cursor: pointer;
}

.button_play {
  position: absolute;
  font-weight: bold;
  padding: 10px;
  top: 49%;
  right: 61%;
  color: white;
  text-shadow: 2px 2px 2px black;
  background-color: rgba(0, 0, 0, 0.308);
  border: 3px solid #00b5ff;
  cursor: pointer;
}
