<div class="container__small-card">
  <div class="container__small-card-content">
  <div class="small-card__image">
    <img
    src="https://static.wixstatic.com/media/2a5b95_256ff5cf80574975b72abd640086c5af~mv2.jpg/v1/fill/w_1000,h_561,al_c,q_85,usm_0.66_1.00_0.01/2a5b95_256ff5cf80574975b72abd640086c5af~mv2.jpg"
    alt="Uma foto da Senku-Cola de Dr-Stone"
    srcset=""
    >
  </div>

  <div class="small-card__title">
    <h1><a href="#">CONFIRMADO! A 3ª Temporada de Re:Zero é Anunciada</a></h1>
    </div>
  </div>

 <div class="container__small-card__separator">
    <hr>
 </div>
</div>

