
<header>
  <app-menu-bar></app-menu-bar>
</header>

<div class="container__content">

  <div class="content__title">
    <h1>{{ contentTitle }}</h1>
  </div>

  <div class="content__image">
    <img src="{{ imageCover }}" alt="" srcset="">
  </div>



  <div class="content__description">
    <p>{{ contentDescription }}</p>
  </div>


    <div class="content_news">
      <strong>{{ Titulo_Paragrafo_1 }}</strong>
      <p>
        {{ Paragrafo_1 }}
      </p>

      <strong>{{ Titulo_Paragrafo_2 }}</strong>
      <p>
        {{ Paragrafo_2 }}
      </p>

      <strong>{{ Titulo_Paragrafo_3 }}</strong>
      <p>
        {{ Paragrafo_3 }}
      </p>

      <strong>{{ Titulo_Paragrafo_4 }}</strong>
      <p>
        {{ Paragrafo_4 }}
      </p>

  </div>
</div>
